@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");

.latex-font {
  font-family: 'Crimson Pro', serif;
  font-size: 1.125rem;
  line-height: 1.8;
  color: #111;
  text-align: justify;
  letter-spacing: 0.01em;
}

.latex-font h1, .latex-font h2, .latex-font h3 {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.latex-font p {
  font-size: 1.05rem;
  margin-bottom: 1em;
}

.latex-font ul, .latex-font ol {
  padding-left: 1.5em;
}

.latex-font blockquote {
  font-style: italic;
  border-left: 3px solid #ccc;
  padding-left: 1em;
  color: #555;
}
