.article-font {
  // font-family: serif;
  font-family: 'Noto Sans', sans-serif;


  font-size: 1.125rem;
  line-height: 1.8;
  color: #111;
  text-align: justify;
  letter-spacing: 0.01em;
}

.article-font h1 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.article-font h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}

.article-font h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}
.article-font ul,
.article-font ol {
  padding-left: 1.5em;
  margin: 0 0 1em 0;
  font-size: 1.05rem;          
  line-height: 1.75;
}

.article-font li {
  font-size: inherit;        
  margin: 0.35em 0;
}

.article-font li > p {
  font-size: inherit;        
  margin: 0;                
}

.article-font li em,
.article-font li strong {
  font-size: 1.05em;        
}

.article-font p {
  font-size: 1.05rem;
  margin-bottom: 1em;
}


.article-font blockquote {
  font-style: italic;
  border-left: 3px solid #ccc;
  padding-left: 1em;
  color: #555;
}
