@import "bootstrap";

@import "fonts";
@import "utilities";

@import "header";
@import "footer";

@import "../sections/hero";
@import "../sections/brands";
@import "../sections/portfolio";
@import "../sections/services";
@import "../sections/testimonials";
@import "../sections/cta";

@import "../sections/blog-list";
@import "../sections/blog-single";

@import "custom";


@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
